<!-- Note: 11. Personnalisation de la vue Header -->
<header class="main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">

            <!-- App Brand -->
            <a class="navbar-brand" href="#">MyDisco</a>

            <!-- Responsive button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Nav list -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- Note: 24. Adaptation de la navigation pour Angular -->
                    <li class="nav-item"><a class="nav-link" routerLink="/homepage">Home</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/albums">Albums</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Artists</a></li>

                </ul>
            </div>
        </nav>
    </div>
</header>