<h1>Router 01</h1>

<h2>Old HTML nav</h2>
<nav>
  <ul>
    <li><a href="/homepage">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>

<h2>Angular nav</h2>
<nav>
  <ul>
    <li><a routerLink="/homepage">Home</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/jfKfPfyJRdk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>